/* ========================================
   STANDARDIZED LOADING STYLES
   Domino-style loader animation
   ======================================== */

/* Full Page Loading Overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Loading Content Container */
.loading-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Domino Loader Container */
.domino-container {
    width: 150px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1rem auto;
    position: relative;
}

/* Domino Loader Pieces */
.domino-loader {
    width: 20px;
    height: 40px;
    border-radius: 10px 50px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    animation: dominos 1s ease infinite;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.domino-loader:nth-child(1) {
    margin-left: -50px;
    animation-delay: 0.325s;
    background-color: #5d9960;
}

.domino-loader:nth-child(2) {
    margin-left: -25px;
    animation-delay: 0.5s;
    background-color: #82a587;
}

.domino-loader:nth-child(3) {
    margin-left: 0px;
    animation-delay: 0.625s;
    background-color: #8bac74;
}

.domino-loader:nth-child(4) {
    margin-left: 25px;
    animation-delay: 0.74s;
    background-color: #b9bf90;
}

.domino-loader:nth-child(5) {
    margin-left: 50px;
    animation-delay: 0.865s;
    background-color: #e7d2ab;
}

/* Domino Animation */
@keyframes dominos {
    50% {
        opacity: 0.7;
    }
    75% {
        transform: rotate(90deg);
    }
    80% {
        opacity: 1;
    }
}

/* Loading Text */
.loading-text {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 2rem;
}

.loading-subtext {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.95rem;
    margin-top: 0.5rem;
}

/* Responsive Adjustments */
@media (max-width: 576px) {
    .domino-container {
        width: 120px;
        height: 100px;
    }
    
    .domino-loader {
        width: 16px;
        height: 32px;
    }
    
    .domino-loader:nth-child(1) { margin-left: -40px; }
    .domino-loader:nth-child(2) { margin-left: -20px; }
    .domino-loader:nth-child(3) { margin-left: 0px; }
    .domino-loader:nth-child(4) { margin-left: 20px; }
    .domino-loader:nth-child(5) { margin-left: 40px; }
    
    .loading-text {
        font-size: 1.1rem;
    }
    
    .loading-subtext {
        font-size: 0.85rem;
    }
}

